*.iml
.gradle
/local.properties
/.idea/
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
/build
**/build/
.DS_Store
/captures
.externalNativeBuild
.cxx
.kotlin
*.keystore
*.jks
google-services.json
